@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: rgb(0, 12, 27);
    color: #fff;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  
    transition: 400ms;
    z-index: 100;
  }
  
.cookie-container.active {
    bottom: 0;
}
  
.cookie-container a {
    color: #000;
    z-index: 101;
}
  
.cookie-btn {
    background: #fff;
    border: 0;
    color: #000;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 101;
}

::-webkit-scrollbar {
    width: 0;
}

/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: none;
  }
  
/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: none;
    }
    
/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: linear-gradient(to left, #008aff, #00ffe7);
    width: 0%;

    animation: animate 5s linear infinite;
    opacity: 0.9;
    z-index: 1000;
}

@keyframes animate {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

::selection {
    color: black;
    background-color: yellow;
}

section {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

.banner.active {
    right: 230px;
}

.black.active {
    right: 230px;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 40%;
}

.title {
    font-family: 'Alata', sans-serif;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .title {
    text-transform: uppercase;
}

.logol {
    text-decoration: none;
    color: #fff;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./Images/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(./Images/close.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 3em;
    font-weight: 800;
    font-family: 'Alata', sans-serif;
    line-height: 1em;
    text-transform: uppercase;
}

.below h2 {
    position: absolute;
    top: 800px;
    left: 45%;
    font-size: 3em;
}

.text a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.learn {
    background: linear-gradient(to left, #008aff, #00ffe7);

    animation: animate 5s linear infinite;
}

.black {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 140%;
    top: 100%;
}

#About {
    align-items: center;
    width: 100%;
    height: 135%;
    position: absolute;
    z-index: 15;
    bottom: -300px;
    left: 0;
    background-color: black;
}

.Ab {
    position: absolute;
    top: 5%;
    font-size: 45px;
    font-weight: 900;
    width: 80%;
    left: 10%;
}

.desc {
    width: 80%;
    position: absolute;
    top: 15%;
    font-size: 20px;
    left: 10%;
}

.SW {
    position: absolute; 
    top: 55%;
    font-size: 45px;
    font-weight: 900;
    width: 80%;
    left: 10%;
}

.swdesc {
    width: 80%;
    position: absolute;
    top: 60%;
    font-size: 20px;
    left: 10%;
}

@media (max-width: 1024px) {
    #About {
        height: 200%;
        bottom: -500px;
        top: 0%;
    }
    .Ab {
        top: 5%;
    }
    .desc {
        top: 15%;
    }
    .SW {
        top: 50%;
    }
    .swdesc {
        top: 60%
    }
}

@media (max-width: 768px) {
    #About {
        height: 250%;
        position: absolute;
        bottom: -1000px;
    }
    .SW {
        position: absolute; 
        top: 60%;
        font-size: 45px;
        font-weight: 900;
        width: 80%;
        left: 10%; 
    }
    .swdesc {
        width: 80%;
        position: absolute;
        top: 65%;
        font-size: 20px;
        left: 10%;
    }
}

@media (max-width: 425px) {
    #About {
        height: 300%;
    }
    .Ab {
        top: 1%;
    }
    .desc {
        top: 5%;
    }
    .SW {
        top: 58%
    }
    .swdesc {
        top: 65%;
    }
}
@media (max-width: 375px) {
    #About {
        height: 350%;
    }
    .Ab {
        top: 1%;
    }
    .desc {
        top: 5%;
    }
    .SW {
        top: 60%
    }
    .swdesc {
        top: 68%;
    }
}
@media (max-width: 320px) {
    #About {
        height: 400%;
    }
    .Ab {
        top: 1%;
    }
    .desc {
        top: 5%;
    }
    .SW {
        top: 60%
    }
    .swdesc {
        top: 68%;
    }
}

.slink {
    position: absolute;
    z-index: 101;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter {
    margin-right: 10px;
    position: absolute;
    width: 30px;
    height: 25px;
    z-index: 101;
}
.yt {
    margin-right: -100px;
    position: absolute;
    width: 35px;
    height: 25px;
    z-index: 101;
}

.plink {
    color: rgb(255, 32, 32);
    text-decoration: none;
    font-size: 30px;
}

.belowhref {
    color: rgb(254, 255, 208);
    text-decoration: none;
    font-size: 30px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.menu ul {
    position: relative;
}

.menu ul li {
    position: relative;
    list-style: none;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu.active {
    opacity: 100;
}

@media (max-width: 991px) {
    section, section header {
        padding: 40px;
    }
    .text h2 {
        font-size: 2.5em;
    }
    .title {
        font-size: 20px;
    }
}
@media (max-width: 472px) {
    .text h2 {
        font-size: 1.7em;
    }
    .text a {
        padding: 6px;
    }
}